html,
body,
.project-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
div {
  box-sizing: border-box;
}
.fill-wrapper {
  width: 100%;
  height: 100%;
}
